{{ if or .Paginator.HasPrev .Paginator.HasNext }}
	<nav class="pagination" role="pagination">
		{{ if (.Paginator.HasPrev) }}
			<a class="newer-posts" href="{{ .Paginator.Prev.URL }}"><span aria-hidden="true">&larr;</span> Newer Posts</a>
		{{ end }}
		<span class="page-number">Page {{ .Paginator.PageNumber }} of {{ .Paginator.TotalPages }}</span>
		{{ if .Paginator.HasNext }}
			<a class="older-posts" href="{{ .Paginator.Next.URL }}">Older Posts <span aria-hidden="true">&rarr;</span></a>
		{{ end }}
	</nav>
{{ end }}
